<h4>Application Form</h4>
<form action="/submit" method="post">
  <div class="mb-2">
  <label>name</label><br>
  <input type="text" required name="name" placeholder="hlo">
  </div>

  <div class="mb-2">
  <label>phone</label><br>
  <input type="number" required name="phone" placeholder="">
  </div>

  <div class="mb-2">
  <label>exam</label><br>
  <input type="text" required name="exam" placeholder="JEE or NEET">
  </div>

  <div class="mb-2">
    <label>question</label><br>
    <textarea name="question"></textarea>
  </div>


  <input type="submit">
</form>