<!DOCTYPE html>
<html>
  <head>
    <title>Mentors Mantra</title>
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Mentors Mantra
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
            <p class="lead">
                Our mission is to provide learners with the best educational experience.
                Extensive resources & guides, an active community,
                24/7 support make it a pleasure to learn with us.
            </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="\static\pixlr-image-generator-47275323-1ef6-4cf4-a2e5-2860f700eef1.png" style="height:320px;border-radius:4px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div class="pricing-container">
        <!-- JEE Excel Plan -->
        <div class="pricing-card">
          <h2>JEE EXCEL</h2>
          <h3>₹ 799 <span>/month</span></h3>
          <a class="get-in-touch" href="/contact">Get in Touch</a>
          <ul>
            <li>Alternate Day call from mentor (IITIAN)</li>
            <li>Access to our all study material</li>
            <li>Daily Schedule from mentor</li>
            <li>4 customized CBT Based Test series</li>
            <li>24/7 support available</li>
            <li>Test making bot for free</li>
            <li>Special Backlog support</li>
            <li>Test analysis with mentor</li>
          </ul>
        </div>
    
        <!-- JEE Supreme Plan -->
        <div class="pricing-card">
          <h2>JEE SUPREME</h2>
          <h3>₹ 999 <span>/month</span></h3>
          <a class="get-in-touch" href="/contact">Get in Touch</a>
          <ul>
            <li>Daily call from mentor (IITIAN)</li>
            <li>Access to our all study material</li>
            <li>Daily Schedule from mentor</li>
            <li>10 customized CBT Based Test series</li>
            <li>24/7 support available</li>
            <li>Test making bot for free</li>
            <li>Special Backlog support</li>
            <li>Test analysis with mentor</li>
          </ul>
        </div>
    
        <!-- Infinity Test Plan -->
        <div class="pricing-card">
          <h2>Infinity test</h2>
          <h3>₹ 299 <span>/month</span></h3>
          <a class="get-in-touch" href="/contact">Get in Touch</a>
          <ul>
            <li>Weekly mentorship call from mentor (IITIAN)</li>
            <li>4 customized CBT Based Test series</li>
            <li>Access to our all study material</li>
            <li>Test making bot for free</li>
          </ul>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>