
  <div class="card text-center">
    <div class="card-header">
        JEE EXCEL
    </div>
    <div class="card-body">
      <h5 class="card-title">₹799/month</h5>
      <p class="card-text">      
        
        Alternate Day call from mentor (IITIAN)<br>
        Access to our all study material<br>
        Daily Schedule from mentor<br>
        4 customized CBT Based Test series<br>
        24/7 support available<br>
        Test making bot for free<br>
        Special Backlog support<br>
        Test analysis with mentor
      
    </p>
      <a href="/contact" class="btn btn-primary">Get in Touch</a>
    </div>
    <div class="card-footer text-body-secondary">
      For Jee Students
    </div>
  </div>
  <br>
  <div class="card text-center">
    <div class="card-header">
        JEE SUPREME
    </div>
    <div class="card-body">
      <h5 class="card-title">₹999/month</h5>
      <p class="card-text">      
        
    Daily call from mentor (IITIAN)<br>
    Access to our all study material<br>
    Daily Schedule from mentor<br>
    10 customized CBT Based Test series<br>
    24/7 support available<br>
    Test making bot for free<br>
    Special Backlog support<br>
    Test analysis with mentor
      
    </p>
      <a href="/contact" class="btn btn-primary">Get in Touch</a>
    </div>
    <div class="card-footer text-body-secondary">
      For Jee Students
    </div>
  </div>
  <br>
  <div class="card text-center">
    <div class="card-header">
        Infinity test
    </div>
    <div class="card-body">
      <h5 class="card-title">₹299/month</h5>
      <p class="card-text">      
        
        Weekly mentorship call from mentor (IITIAN)<br>
        4 customized CBT Based Test series<br>
        Access to our all study material<br>
        Test making bot for free
      
    </p>
      <a href="/contact" class="btn btn-primary">Get in Touch</a>
    </div>
    <div class="card-footer text-body-secondary">
      For Jee Students
    </div>
  </div>